body{
  background-image: url(../images/paper.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  background-image: url(../images/orange-clouds.jpg);
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 36px;
}
h1{
  font-family: 'MonteCarlo', cursive;
  font-size: 55px;
  text-align: center;
  text-shadow: black 1px 1px;
}
h3{
  font-family: sans-serif;
  font-weight: normal;
  text-align: center;
}
#navBar{
  background-color: #95ceee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
section{
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
}
#navBar section{
  flex: 1;
  padding: 20px;
}
#navBar section a{
  color: #0551a3;
  text-decoration: none;
}
#navBar section:hover{
  background: linear-gradient(to left, #eea88d, #eddf9d, white);
}
#about p{
  font-family: sans-serif;
  font-weight: lighter;
  padding: 20px 20px;
  text-align: center;
}
#about{
  grid-area: content;
}
div img{
  border-radius: 50%;
  height: 300px;
  width: 220px;
}
#me{
  grid-area: sidenav;
  padding: 25px;
  transition: transform;
}
#me:hover{
  transform: scale(1.5);
}
#adobe ul{
  font-family: sans-serif;
  font-weight: lighter;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#adobe{
  grid-area: content2;
}
#education ul{
  font-family: sans-serif;
  font-weight: lighter;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#education{
  grid-area: content1;
}
main{
  display: grid;
  grid-template-columns: 1fr 250px 1fr; /* repeat (#, repeating values)*/
  grid-auto-rows: minmax(50px, auto);
  gap: 20px 10px;
  grid-template-areas:
    "sidenav content content"
    "sidenav content1 content2"
    "footer footer footer";
}
footer{
  background-color: #c3e2f2;
  display: flex;
  font-family: sans-serif;
  flex-wrap: wrap;
  grid-area: footer;
  justify-content: space-evenly;
  justify-content: center;
}
h4{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}
h5{
  font-family: sans-serif;
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
}
footer #contact{
  justify-content: center;
  flex: 1;
  font-size: 12px;
}
#contact{
  list-style-type: none;
}
textarea{
  font-family: Verdana, sans-serif;
  font-size: 20px;
  width: 500px;
}
#buttonContainer input[type=button]{
  border: 3px solid #eea98d;
  border-radius: 6px;
  margin-right: 10px;
  padding: 10px;
}
#buttonContainer input[type=submit]{
  border: 3px solid #eea98d;
  border-radius: 6px;
  margin-right: 10px;
  padding: 10px;
}
#buttonContainer input[type=reset]{
  border: 3px solid #eea98d;
  border-radius: 6px;
  margin-right: 10px;
  padding: 10px;
}
#buttonContainer input:focus-visible{
  outline: 0;
}
#popupContainer{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
#popupBackground{
  background-color: #ede0a9;
  background-size: contain;
  position: absolute;
  height: 100%;
  opacity: 0.3;
  width: 100%;
  z-index: 0;
}
#popupContainer.popupOpen{
  display: flex;
}
#popup div h3{
  color: black;
  font-size: 20px;
}
#popup{
  background-color: lavenderblush;
  border: 3px solid #eea98d;
  border-radius: 24px;
  padding: 36px;
  position: relative;
  min-width: 400px;
  text-align: center;
  z-index: 1;
}
#popup .closePopup{
  margin-top: 36px;
}
@media screen and (min-width: 800px) {
  main{
    justify-content: center;
  }
}
@media screen and (max-width: 480px){
  header{
    background-position: 48% 70%;
    background-size: auto 300px
  }
  #navBar section{
    font-size: 13px;
    padding: 10px;
  }
  main{
    display: grid;
    grid-template-columns: 1fr; /* repeat (#, repeating values)*/
    grid-auto-rows: minmax(auto);
    gap: 20px 10px;
    grid-template-areas:
      "content"
      "sidenav"
      "content1"
      "content2"
      "footer";
    margin: 8px;
  }
  main div{
    font-size: 11px;
  }
  h1{
    font-size: 40px;
  }
  h3{
    font-size: 14px;
  }
  div img{
    border-radius: 50%;
    height: 200px;
    width: 140px;
  }
  footer ul li{
    font-size: 9px;
  }
  h4{
    font-size: 13px;
  }
  h5{
    font-size: 9px;
  }
}
