header{
  background-image: url(./images/dandelion-field.jpg);
  background-position: 55% 50%;
  background-repeat: no-repeat;
  background-size: auto 800px;
  color: black;
  padding: 36px;
}
h1{
  font-family: cursive, snell roundhan;
  font-size: 50px;
  text-align: center;
  text-shadow: white 1px 1px;
}
h3{
  font-family: sans-serif;
  font-weight: normal;
  text-align: center;
}
#navBar{
  background-color: #95ceee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
section{
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
}
#navBar section{
  flex: 1;
  padding: 20px;
}
#navBar section a{
  color: #0551a3;
  text-decoration: none;
}
#navBar section:hover{
  background: linear-gradient(to left, #eea88d, #eddf9d, white);
}
#PS{
  text-align: center;
  font-family: cursive, snell roundhan;
  font-size: 23px;
  font-weight: normal;
  grid-area: content;
}
#scrollContainer{
  position: relative;
}
main #scrollContainer div{
  height: 150px;
  width: 150px;
}
#scrollContainer{
  grid-area: content1;
  height: 300px;
  width: 600px;
  margin-bottom: 60px;
  overflow-y: scroll;
}
#webBanner{
  align-self: auto;
  height: 300px;
  position: sticky;
  left: 1rem;
  grid-area: sidenav;
  padding: 25px;
}
main{
  display: grid;
  grid-template-columns: 1fr 250px 1fr; /* repeat (#, repeating values)*/
  grid-auto-rows: minmax(50px, auto);
  gap: 20px 10px;
  grid-template-areas:
    "sidenav content content"
    "sidenav content1 content1"
    "sidenav content1 content1";
}
@media screen and (min-width: 800px) {
  main{
    justify-content: center;
  }
}
  @media screen and (max-width: 480px) {
    header{
      background-position: 48% 70%;
      background-size: auto 300px
    }
    main{
      justify-content: center;
    }
    main div p{
      font-size: 13px;
    }
    h1{
      font-size: 40px;
    }
    h3{
      font-size: 16px;
    }
    #navBar section{
      font-size: 13px;
      padding: 10px;
    }
    #webBanner{
      height: 150px;
    }
  }
