body{
  background-image: url(../images/paper.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  background-image: url(../images/girl-in-clouds.jpg);
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 36px;
}
h1{
  color: white;
  font-family: 'MonteCarlo', cursive;
  font-size: 55px;
  text-align: center;
  text-shadow: black 1px 1px;
}
h3{
  color: white;
  font-family: sans-serif;
  font-weight: normal;
  text-align: center;
}
#navBar{
  background-color: #95ceee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
section{
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
}
#navBar section{
  flex: 1;
  padding: 20px;
}
#navBar section a{
  color: #0551a3;
  text-decoration: none;
}
#navBar section:hover{
  background: linear-gradient(to left, #eea88d, #eddf9d, white);
}
main div img{
  border-radius: 50%;
  width: 400px;
  height: 200px;
  margin: 25px;
  animation: spin 10s infinite ease-in-out;
}
@keyframes spin{
  0%, 100%{
    transform: translateX(0px) rotateY(0deg);
  }
  25%, 75%{
    transform: translateX(0px) rotateY(1800deg);
  }
}
main{
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
}
footer{
  background-color: #c3e2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
h4{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}
h5{
  font-family: sans-serif;
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
}
footer ul li{
  font-size: 12px;
}
#contact{
  list-style-type: none;
}
@media screen and (max-width: 480px){
  header{
    background-position: 48% 70%;
    background-size: auto 300px
  }
  main div img{
    width: 200px;
    height: 100px;
  }
  main div p{
    font-size: 11px;
  }
  h1{
    font-size: 40px;
  }
  h3{
    font-size: 14px;
  }
  #navBar section{
    font-size: 13px;
    padding: 10px;
  }
  footer ul li{
    font-size: 9px;
  }
  h4{
    font-size: 13px;
  }
  h5{
    font-size: 9px;
  }
}
