html{
  min-height: 100%;
  background-image: url(../stone.background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
#grid{
  display: grid;
  grid-template-columns: 1fr 333px 334px 333px 1fr;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
    "gutter1 header header header gutter2"
    "gutter1 nav nav nav gutter2"
    "gutter1 banner banner banner gutter2"
    "gutter1 card1 card2 card3 gutter2"
    "gutter1 sidenav blog blog gutter2"
    "gutter1 footer footer footer gutter2"
    "gutter1 bottom bottom bottom gutter2";
}
img{
  border: 3px solid gainsboro;
  margin: 1px;
}
header{
  height: 138px;
  font-size: 65px;
  font-family: veranda, geneva, sans-serif;
  grid-area: header;
  text-align: center;
}
#navBar{
  display: flex;
  grid-area: nav;
}
#navBar{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-transform: uppercase;
}
#navBar div{
  background-color: gainsboro;
  box-sizing: border-box;
  flex: 1;
  font-size: 13px;
  padding: 15px;
  text-align: center;
}
#banner{
  grid-area: banner;
}
#card1{
  grid-area: card1;
}
#card2{
  grid-area: card2;
}
#card3{
  grid-area: card3;
}
aside{
  display: flex;
  grid-area: sidenav;
  margin: 1px;
}
aside{
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
#blog{
  background-color: gainsboro;
  box-sizing: content-box;
  margin: 5px;
  padding: 5px;
  grid-area: blog;
}
#blogTitle{
  font-size: 25px;
}
main p{
  font-family: verdana, sans-serif;
  font-size: 13px;
}
footer{
  grid-area: footer;
  text-align: center;
}
@media screen and (max-width: 1000px){
  #grid{
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "banner"
      "card1"
      "card2"
      "card3"
      "blog"
      "sidenav"
      "footer"
      "bottom";
  }
}
